<template id="articulos">
    <require from="./articulo-dlg"></require>
    <style>
        #articulos img.responsive-img {
            max-width: 200px;
            min-width: 200px
            height: auto;
            margin: auto;
        }
        #articulos .valign-wrapper .col {
            margin: auto;
        }
        #col-articulos {
            text-align: center
        }

        #col-articulos .card .card-image img {
            display: initial;
        }

        .card-title {
            font-size: 19px !important;
            height: 80px !important;
            line-height: 25px !important;
        }

        /*.card .card-title {*/
        /*font-size: 1.15em*/
        /*}*/
        .center {
            margin: auto;
            width: 100%;
        }

        articulos img.responsive-img, video.responsive-video {
            /*max-width: 80px !important;*/

        }

        articulos .col {
            /*width: 250px !important;*/
            /*min-width: 250px !important;*/
            /*max-width: 250px !important;*/
        }

        @media only screen and (min-width: 905px) {
            .row .col.m4 {
                /*width: 290px !important;*/
                margin-left: auto;
                left: auto;
                right: auto;
            }
        }

        @media only screen and (min-width: 1200px) {
            #col-articulos {
                width: 80% !important;;
                margin-left: auto;
                left: auto;
                right: auto;
            }

            #col-carro {
                width: 20% !important;
                margin-left: auto;
                left: auto;
                right: auto;
            }
        }

        .card {
            max-width: 315px;
        }

        @media only screen and (max-width: 1200px) {
            .row .col.l3 {
                width: 30%;
                margin-left: auto;
                left: auto;
                right: auto;
            }
        }

        @media only screen and (max-width: 1020px) {
            .row .col.l3 {
                width: 50%;
                margin-left: auto;
                left: auto;
                right: auto;
            }
        }

        @media only screen and (max-width: 640px) {
            .row .col.l3 {
                width: 100%;
                margin-left: auto;
                left: auto;
                right: auto;
            }

        }

        /*@media only screen and (max-width: 220px) {*/
        /*categorias .col {*/
        /*min-width: 180px !important;*/
        /*}*/
        /*}*/
        /*@media only screen and (min-width: 220px) and (max-width: 449px) {*/
        /*categorias .col {*/
        /*max-width: 220px !important;*/
        /*float:none !important;*/
        /*}*/
        /*}*/
        /*@media only screen and (min-width: 450px) {*/
        /*categorias .col {*/
        /*max-width:33% !important;*/
        /*}*/
        /*}*/

        /*@media only screen and (min-width: 993px){*/
        /*categorias .col{*/
        /*min-width: 150px !important;*/
        /*}*/
        /*}*/

        /*@media only screen and (min-width: 350px) {*/
        /*categorias .col {*/
        /*width: 100% !important;*/
        /*}*/
        /*}*/

        /*@media only screen and (min-width: 180px) and (max-width: 200px){*/
        /*categorias  .col {*/
        /*width: 100% !important;*/
        /*}*/
        /*}*/
        /*@media only screen and (min-width: 350px) and (max-width: 640px) {*/
        /*categorias .col {*/
        /*width: 50% !important;*/
        /*}*/
        /*}*/

        /*@media only screen and (min-width: 200px) {*/
        /*categorias .col.s12 {*/
        /*max-width: 180px !important;*/
        /*min-width: 180px !important;*/
        /*margin-left: auto;*/
        /*left: auto;*/
        /*right: auto;*/
        /*}*/
        /*}*/
    </style>
    <div class="row">
        <div class="chip left"  style="background-color: #26a69a">
            <a href="#/categorias" class="white-text">Inicio</a>
        </div>
        <div class="chip left"  style="background-color: #26a69a">
            <img show.bind="articulosService.categoria.imagenPath" src.bind="articulosService.categoria.imagenPath" alt="${articulosService.categoria.imagenPath}">
            <a show.bind="articulosService.categoria.nombre" href="#!" class="white-text">${articulosService.categoria.nombre}</a>
            <a show.bind="!articulosService.categoria.nombre" href="#!" class="white-text">Menú completo</a>
        </div>
    </div>
    <div class="col s12 m6 l3" repeat.for="articulo of articulos">
        <template if.bind="articulo.subs.length > 0">
            <a md-modal-trigger href="#dlg-${articulo.id}" class="center">
                <md-card class="center"
                        md-image.bind="articulo.imagenPath">
                    <div class="card-title">
                        ${articulo.nombre}
                    </div>
                    <div>$ ${articulo.precio_venta}</div>
                </md-card>
            </a>
            <div class="modal" as-element="articulo-dlg"
                 id="dlg-${articulo.id}" articulo.bind="articulo"
                 callback.bind="addArticuloToCarrito"></div>
        </template>
        <template if.bind="!articulo.subs.length > 0">
            <a href="">
                <md-card click.delegate="addArticuloToCarrito(articulo)"
                         >
                    <div class="valign-wrapper center">
                        <img src="${articulo.imagenPath}" alt="" class="circle responsive-img"/>
                    </div>
                    <div class="card-title">
                        ${articulo.nombre}
                    </div>
                    <div>$ ${articulo.precio_venta}</div>
                </md-card>
            </a>
        </template>
    </div>
</template>
