<template>
    <require from="./articulos"></require>
    <require from="./carro"></require>
    <style>
        #col-articulos{float:left!important;}
        #col-carro{float:right!important;}
    </style>
    <div class="row">
        <div id="col-articulos" class="col s10">
            <articulos articulos.bind="articulos"></articulos>
        </div>
        <div id="col-carro" class="col m2 .hide-on-small-only">
            <carro articulos.bind="carroService.articulos"></carro>
        </div>
    </div>
</template>