<template>
    <table class="bordered striped">
        <thead>
        <tr>
            <th data-field="id">Producto</th>
            <th style="text-align: right" data-field="name">Precio</th>
        </tr>
        </thead>

        <tbody>
        <tr repeat.for="articulo of carroService.articulos">
            <td>${articulo.nombreConSub}</td>
            <td style="text-align: right">${articulo.precioConSub}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td style="text-align: right">${carroService.total}</td>
        </tr>
        </tbody>
    </table>
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row">
            <a click.delegate="carroService.cierra()" class="right col-xs-12 btn btn-lg btn-danger">Cierra e Imprime</a>
        </div>
    </div>
</template>