<template>
<div class="q-pa-md row q-gutter-md justify-center">
    Saliendo...
</div>
</template>

<script>
import { onBeforeMount } from '@vue/composition-api'
import store from 'src/store'
export default {
  setup (_, ctx) {
    onBeforeMount(async () => {
      await store.dispatch('session/logout')
      // eslint-disable-next-line handle-callback-err
      await ctx.root.$router.push('/').catch(err => {
        console.log('router push /', err)
      })
    })
    return {}
  }
}
</script>

<style>

</style>
