<template>
     <q-card v-if="pin" flat bordered class="pin-card">
      <q-card-section>
        <div class="row items-center no-wrap">
          <div class="col">
            <div class="text-h6">Pin# {{pin.pin}}</div>
            <div class="text-subtitle2">Fecha: {{pin.fecha}}</div>
          </div>
        </div>
      </q-card-section>

      <q-card-section>
        <q-markup-table flat>
          <thead>
            <tr>
              <th class="text-left">Producto</th>
              <th class="text-right">Cantidad</th>
              <th class="text-right">Importe</th>
              <th class="text-right">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="det of pin.det" :key="det.id">
              <td class="text-left">{{det.detalle}}</td>
              <td class="text-right">{{det.cantidad}}</td>
              <td class="text-right">{{det.importe / det.cantidad}}</td>
              <td class="text-right">{{Number(det.importe)*Number(det.cantidad)}}</td>
            </tr>
            <tr>
              <td class="text-left">Total</td>
              <td class="text-right" colspan="3">{{pin.total}}</td>
            </tr>
          </tbody>
        </q-markup-table>
      </q-card-section>

      <q-separator />
      <q-card-actions align="right" >
        <q-btn @click="delPin" color="primary" flat>Borrar Compra</q-btn>
      </q-card-actions>
    </q-card>
</template>

<script>
import { confirm } from 'src/helpers'
import { ref, watch } from '@vue/composition-api'
import { getPin, rmPin } from 'src/services/ticket'
export default {
  setup (_, { root }) {
    const pin = ref()
    const delPin = async () => {
      if (await confirm('Confirmación', 'Confirma la cancelación de la compra?')) {
        await rmPin(pin.value.id)
        root.$router.push('/')
      }
    }
    watch(() => root.$route.params.id, async (id) => {
      const resp = await getPin(id)
      pin.value = resp.pin
    })
    return { pin, delPin }
  }
}
</script>

<style>
  .pin-card{
    max-width: 600px;
    margin: 20px auto;
  }
</style>
