<template>
  <q-page class="" v-if="$store.state.buffet.items.length">
    <q-menu v-model="menuModel" auto-close :target="menuTarget" no-parent-event>
      <q-list style="min-width: 200px">
        <q-item v-ripple clickable @click="menuItemIncClick()">
          <q-item-section>Uno Más</q-item-section>
          <q-item-section avatar>
            <q-icon color="blue-8" name="add_circle" />
          </q-item-section>
        </q-item>
        <q-item v-ripple clickable @click="menuItemDecClick()">
          <q-item-section>Uno Menos</q-item-section>
          <q-item-section avatar>
            <q-icon color="blue-8" name="remove_circle" />
          </q-item-section>
        </q-item>
        <q-item v-ripple clickable @click="menuRemoveClick()">
          <q-item-section>Quitar</q-item-section>
          <q-item-section avatar>
            <q-icon color="red-10" name="delete" />
          </q-item-section>
        </q-item>
        <q-item v-ripple clickable @click="menuRemoveClick()">
          <q-item-section>Agregar a favoritos</q-item-section>
          <q-item-section avatar>
            <q-icon color="blue-8" name="star" />
          </q-item-section>
        </q-item>
      </q-list>
    </q-menu>
    <q-btn to="/venta" color="blue-10" flat icon="keyboard_backspace" label="Volver al menú" />
    <q-markup-table flat >
      <thead>
        <tr>
          <th class="text-left">Producto</th>
          <template v-if="$q.screen.gt.xs" >
            <th class="text-right">Precio</th>
          </template>
          <th class="text-right">Cantidad</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in $store.state.buffet.ticket.items" :key="item.id"  @click="menuClick(`menuModel-td-${item.id}`, index)">
          <td class="text-left " :class="{'nombre-td-sm': $q.screen.xs}">{{item.nombre}}</td>
          <template v-if="$q.screen.gt.xs" >
            <td class="text-right">{{item.precio_venta}}</td>
          </template>
          <td class="text-right">{{item.cantidad}}</td>
          <td class="text-right">{{item.total}}</td>
          <td class="menu-td" @click="menuClick(`menuModel-td-${item.id}`, index)">
            <i :id="`menuModel-td-${item.id}`" class="menu-dots icon-dots-horizontal-triple item-menu-icon" />
          </td>
        </tr>
        <tr>
          <th class="text-left">Total</th>
          <th colspan="3" class="text-right">{{ $store.getters['buffet/ticket/total'] }}</th>
        </tr>
      </tbody>
    </q-markup-table>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="done" color="primary" @click="print()"/>
    </q-page-sticky>
  </q-page>
</template>

<script>
import { ref, onBeforeMount } from '@vue/composition-api'
import * as ticketService from 'src/services/ticket'
import { Dialog } from 'quasar'

export default {
  setup (props, ctx) {
    const itemForMenu = ref()
    const menuModel = ref(false)
    const menuTarget = ref()
    const menuClick = (itemElId, itemIndex) => {
      itemForMenu.value = ticketService.getCarritoItemByIndex(itemIndex)
      menuTarget.value = '#' + itemElId
      menuModel.value = true
    }
    const menuRemoveClick = () => {
      ticketService.delItem(itemForMenu.value)
      menuModel.value = false
    }
    const menuItemIncClick = () => {
      ticketService.itemAddCant(itemForMenu.value, 1)
      menuModel.value = false
    }
    const menuItemDecClick = () => {
      ticketService.itemAddCant(itemForMenu.value, -1)
      menuModel.value = false
    }
    const print = async event => {
      const resp = await print()
      if (resp !== 'ok') {
        console.log('notok')
        Dialog.create({
          title: `Error ${resp.statusText}`,
          message: resp.data,
          html: true
        })
        // alert(resp.data)
      }
    }
    onBeforeMount(() => {
      if (ctx.root.$store.state.buffet.items.length === 0) {
        ctx.root.$router.push('/venta').catch((err) => {
          console.log('router push /venta', err)
        })
      }
    })

    return {
      menuTarget,
      menuClick,
      menuRemoveClick,
      menuModel,
      itemForMenu,
      menuItemIncClick,
      menuItemDecClick,
      print
    }
  }
}
</script>
<style lang="scss" scoped>
.menu-td {
  cursor: pointer;
  width: 5px !important;
  padding: 0 !important;
  margin: 0;
  padding-right: 12px !important;
  font-size: 14px !important;
  * {
    cursor: pointer;
  }
}
.nombre-td-sm {
    white-space: pre-wrap !important;
}
</style>
