<template>
<q-page id="ventas" :class="{small: $q.screen.lt.md}">
    <div class="menu">
      <div class="content">
        <div class="table-wraper">
          <producto-view  :categorias="categorias" :items="items"/>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref, watch } from '@vue/composition-api'
import { getProductos } from 'src/services/producto'
import store from 'src/store'
import ProductoView from 'components/ProductoView.vue'

export default {
  components: { ProductoView },
  setup (props, ctx) {
    const items = ref([])
    const categorias = ref([])
    watch(() => store.state.buffet.items, (a) => {
      items.value = store.state.buffet.items
      categorias.value = store.state.buffet.categorias
    }, { deep: true })
    watch(() => store.getters['session/loggedIn'],
      async loggedIn => {
        if (loggedIn) {
          if (store.state.buffet.items.length === 0) await getProductos()
        }
      })
    return { items, categorias }
  }
}
</script>
