<template>
  <q-item @click="itemClick"
    v-if="muestraItem()"
    clickable
    :to="to"
    :exact-active-class="activate ? 'q-router-link--exact-active':'asdfasdf'"
    :active-class="activate ? 'q-router-link--active':'asdfasdf'"
  >
    <q-item-section
      v-if="icon"
      avatar
    >
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>
        {{ caption }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import store from '../store'
export default {
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true
    },
    caption: {
      type: String,
      default: ''
    },
    activate: {
      type: Boolean,
      default: true
    },
    carrito: {
      type: Boolean,
      default: false
    },
    to: {
      type: String,
      default: () => '/#/' + Date.now()
    },
    icon: {
      type: String,
      default: ''
    },
    exec: {
      type: Function,
      default: undefined
    },
    loggedIn: {
      type: Boolean,
      default: true
    },
    onlyGuest: {
      type: Boolean,
      default: false
    }
  },
  setup (props, ctx) {
    const itemClick = (event) => {
      if (props.exec && typeof (props.exec) === 'function') {
        props.exec(props)
      }
    }
    const muestraItem = () => {
      if (props.carrito && !store.getters['buffet/ticket/hayItems']) return false
      if (props.loggedIn && !props.onlyGuest && !store.getters['session/loggedIn']) return false
      if (props.onlyGuest && store.getters['session/loggedIn']) return false
      return true
    }
    return { itemClick, muestraItem }
  }
}
</script>
