<template>
  <div v-if="loading" class="loading">
    <q-spinner :thickness="thickness"
               :color="color" :size="size" />
    <div v-if="label" class="label"><strong class="label-text">{{ label }}</strong></div>
  </div>
</template>
<script>
export default {
  props: {
    label: {
      type: String,
      default: undefined
    },
    loading: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: 'primary'
    },
    thickness: {
      type: Number,
      default: 5
    },
    size: {
      type: String,
      default: '5.5em'
    }
  }
}
</script>
<style lang="stylus">
.loading {
  text-align: center;
  position: absolute;
  top: 24vw;
  left: 36%;
  z-index: 1000;
  & .label{
    margin-top: 10px;
    padding:8px 10px;
    background: rgba(204, 204, 204, 1);
    border-radius: 5px;
    font-size 12px
    font-weight: 400;
    @media (max-width $breakpoint-sm-max){
      margin-top: 5px;
      padding:4px 6px;
      font-size 14px
      font-weight: 200;
    }
    font-size: 140%;
    color: black;
  }
}
</style>
