<template>
  <div :class="{'q-pa-md': $q.screen.gt.xs, menu: $q.screen.gt.xs}">
    <template v-for="categoria in categorias">
      <q-card v-if="categoria.items.length > 0" :key="categoria.id" flat bordered class="my-card">
        <q-card-section>
          <div class="text-h6">{{ categoria.nombre }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-markup-table flat>
            <!-- <tr><tr><th>1</th><th>2</th></tr></thead> -->
            <tbody>
              <tr v-for="(item, itemIndex) in categoria.items" :key="item.id"
                     @click="itemClick($event, item, itemIndex)" :class="{'en-carrito': item.cantidad}">

                <td class="nombre-td-sm text-left">{{item.nombre}}</td>
                <td class="text-right" style="padding:0;margin:0">
                  <q-icon style="display: inline-block; cursor: pointer" v-if="item.cantidad" @click="sumaAlCarrito(item, -1)" name="remove" size="sm" color="blue-10" />
                  <q-icon style="display: inline-block; cursor: pointer" v-if="item.cantidad" @click="sumaAlCarrito(item, 1)" name="add" size="sm" color="blue-10" />
                </td>
                <td class="text-right precio-td" style="padding-left: 0; margin-left: 0">{{item.precio_venta}}
                  <q-badge v-if="Number(item.cantidad)>0" class="badge" :label="item.cantidad " color="blue-10" transparent floating />
                  </td>
              </tr>
            </tbody>
          </q-markup-table>
        </q-card-section>
      </q-card>
    </template>
  </div>
</template>
<script>
import * as ticketService from 'src/services/ticket'
import { addItem } from 'src/services/ticket'
export default {
  name: 'ViewGrid',
  props: {
    items: { type: Array },
    categorias: { type: Array }
  },
  setup (props, ctx) {
    const itemClick = (event, item) => {
      if (event.target.tagName === 'I' || item.cantidad) return true
      addItem(item)
    }
    const sumaAlCarrito = (item, cant) => {
      ticketService.itemAddCant(item, cant)
    }
    return { sumaAlCarrito, itemClick }
  }
}
</script>
<style lang="scss" scoped>
.en-carrito{
  box-shadow: inset 0px 0 16px 0px #56708940;
}
.nombre-td-sm {
    white-space: pre-wrap !important;
}
.precio-td {
  width: 60px;
}
.badge {
    margin-right: 3px;
    margin-top: 6px;
}
.menu {
max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
</style>
