<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat dense round icon="menu" aria-label="Menu" @click="leftDrawerOpen = !leftDrawerOpen" />

        <q-toolbar-title>
          Buffet IAE
        </q-toolbar-title>
        <q-btn v-if="loggedIn" dense round flat icon="shopping_cart"  @click="$router.push('/ticket')">
          <q-badge  v-if="$store.getters['buffet/ticket/hayItems']" color="white" text-color="blue-10"
            transparent>
           $ {{ $store.getters['buffet/ticket/total'] }}
          </q-badge>
        </q-btn>
        <q-btn v-if="loggedIn" dense round flat icon="icon-exit1"  @click="logout()" />
        <q-btn v-else dense round flat icon="icon-user"  @click="login()" />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered content-class="bg-grey-1">
      <q-list>
        <q-item-label header class="text-grey-8">
           <span v-if="loggedIn"></span>
           <span v-else>Debe ingresar al sistema para acceder al menú</span>
        </q-item-label>

        <EssentialLink v-for="link in essentialLinks" :key="link.title" v-bind="link" />

          <q-separator spaced color="blue-10"/>
        <q-item-label v-if="loggedIn" header class="text-grey-8">
          <div>Pin personal: {{pin}}</div>
        </q-item-label>

        <template v-if="hayPines() && loggedIn">
          <q-item-label header class="text-grey-8">
            <span>Compras disponibles</span>
          </q-item-label>
          <q-separator inset color="blue-10" class="q-mb-md"/>
          <EssentialLink v-for="pin in pinLinks" :key="pin.pin" v-bind="pin" />
        </template>
          <q-item-label v-else-if="loggedIn" header class="text-grey-8">
            No tiene compras guardadas
          </q-item-label>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'
import { limpiaCarrito, cierra } from 'src/services/ticket'
import { ref, watch, computed } from '@vue/composition-api'
import store from 'src/store'

export default {
  name: 'MainLayout',

  components: {
    EssentialLink
  },
  setup (props, { root }) {
    const leftDrawerOpen = ref(false)
    const pins = ref([])
    const essentialLinks = ref([
      {
        title: 'Inicio',
        caption: 'Menú buffet IAE',
        icon: 'home',
        to: '/venta'
      },
      {
        title: 'Carrito',
        caption: 'Ver el carrito de compras',
        icon: 'shopping_cart',
        to: '/ticket',
        carrito: true
      },
      {
        title: 'Finaliza',
        caption: 'Finaliza la compra',
        icon: 'check',
        activate: false,
        carrito: true,
        exec: cierra
      },
      {
        title: 'Cancela',
        caption: 'Quita los productos seleccionados del carrito',
        icon: 'cancel',
        activate: false,
        carrito: true,
        exec: limpiaCarrito
      },
      {
        title: 'Salir',
        caption: 'Cerrar sesión',
        icon: 'icon-exit1',
        to: '/logout'
      },
      {
        title: 'Ingresar',
        caption: 'Ingresar al sistema',
        icon: 'icon-user',
        to: '/login',
        onlyGuest: true
      }
    ])
    const pinLinks = ref([])
    const pin = computed(() => store.state.session.user && store.state.session.user.pin)
    const hayPines = () => {
      return store.state.buffet.pins && store.state.buffet.pins.length
    }
    const loggedIn = computed(() => {
      return store.getters['session/loggedIn']
    })

    const logout = async () => {
      await store.dispatch('session/logout')
    }
    const login = async () => {
      root.$router.push('/login')
    }
    watch(() => root.$store.state.buffet.pins, (_pins) => {
      pins.value = _pins || []
      pinLinks.value = []
      pins.value.forEach(p => {
        pinLinks.value.push(
          {
            title: `Pin: ${p.pin}`,
            caption: `$${p.total} - ${p.fecha}`,
            icon: '',
            to: '/pin/' + p.pin,
            activate: false
          }
        )
      })
    })
    return { leftDrawerOpen, essentialLinks, logout, login, pinLinks, hayPines, loggedIn, pin }
  }
}

</script>
